<div class="row" style="padding-left:1em;padding-right:1em;margin-bottom:0px;">
  <div class="col-md-12">
  <h3 class="region-title">Wants</h3>
  </div>
  <div class="col-md-12 well">
    <div class="row interior-section" style="padding-bottom:10px;">
      <div class="col-md-12">
        <div class="btn-group">
          <button type="button" class="btn btn-default {{range==90?'active':''}}" ng-click="set_range(90)">90 days</button>
          <button type="button" class="btn btn-default {{range==30?'active':''}}" ng-click="set_range(30)">30 days</button>
          <button type="button" class="btn btn-default {{range==7?'active':''}}" ng-click="set_range(7)">7 days</button>
        </div>

        <div class="btn-group">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <span ng-show="chart=='price'">Price Over Time</span>
            <span ng-show="chart=='price_histogram'">Price Preference</span>
            <span ng-show="chart=='activity'">User Count</span>
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li class="{{chart=='price'?'active':''}}"><a ng-click="set_chart('price')">Price Over Time</a></li>
            <li class="{{chart=='price_histogram'?'active':''}}"><a ng-click="set_chart('price_histogram')">Price Preference</a></li>
            <li class="{{chart=='activity'?'active':''}}"><a ng-click="set_chart('activity')">User Count</a></li>
          </ul>
        </div>
          <img src="images/gear.png" style="float:right;padding-top:3px;">
      </div>
    </div>

    <div class="row interior-section" style="padding-top:10px;padding-bottom:10px;">
      <div class="col-md-12">
        <highchart style="height:250px;" id="payChart" config="payChartConfig" ng-if="chart=='price'"></highchart>
        <div style="height:250px;" id="payHistogram" ng-show="chart=='price_histogram'"></div>
        <highchart style="height:250px;" id="activityChart" config="activityChartConfig" ng-if="chart=='activity'"></highchart>
      </div>
<!--
      <div class="col-md-3">
        <span ng-show="chart=='price'">{{average_pay|currency}}</span>
        <div style="margin-left:2em;vertical-align:bottom;margin-top:1em;padding-top:1em;display:inline-block;">
        <i class="glyphicon glyphicon-user" style="color:gray;font-size:large;"></i>
        <i class="glyphicon glyphicon-user" style="color:gray;font-size:x-large;margin-left:-0.5em;"></i>
        <i class="glyphicon glyphicon-user" style="color:gray;font-size:large;margin-left:-0.7em;"></i>
        </div>
        <span>{{average_users|number:0}}</span>
      </div>
-->
    </div>

    <div class="row" style="padding-top:10px;background:white;border-bottom: 1px solid #ccc;">
      <div class="col-md-2">
        <h4>SUMMARY</h4>
      </div>
      <div class="col-md-2">
        <p>Users<br/><strong style="font-size:24px;color:#ff3399;">{{summary.users}}</strong></p>
      </div>
      <div class="col-md-2">
        <p>Avg Klout Score<br/><strong style="font-size:24px;color:#ff3399;">{{summary.klout}}</strong></p>
      </div>
      <div class="col-md-2">
        <p>Price range<br/><strong style="font-size:24px;color:#ff3399;">{{summary.range}}</strong></p>
      </div>
      <div class="col-md-4" style="text-align:right;">
          <button class="btn btn-default btn-lg">
            Offers
          </button>

          <button class="btn btn-default btn-lg" ng-click="sendBulkPerk()">
            <img src="images/klout.png">
            Bulk Perks
          </button>
      </div>
    </div>

    <div class="row" style="border-bottom: 1px solid #ccc;padding-top:1em;">
      <div class="col-md-4 column-header" style="font-weight:bold;">
        <input type="checkbox" ng-model="all_selected" />
        <a ng-click="sort('name')" style="padding-left:0.5em;">Lead
        <i class="glyphicon glyphicon-chevron-down" ng-show="sort_order=='name'&&sort_reverse==false"></i>
        <i class="glyphicon glyphicon-chevron-up" ng-show="sort_order=='name'&&sort_reverse==true"></i>
        </a>
      </div>
      <div class="col-md-2 column-header" style="font-weight:bold;">
        <a ng-click="sort('score')">Klout Score
        <i class="glyphicon glyphicon-chevron-down" ng-show="sort_order=='score'&&sort_reverse==false"></i>
        <i class="glyphicon glyphicon-chevron-up" ng-show="sort_order=='score'&&sort_reverse==true"></i>
        </a>
      </div>
      <div class="col-md-2 column-header" style="font-weight:bold;">
        <a ng-click="sort('pay')">Willing To Pay
        <i class="glyphicon glyphicon-chevron-down" ng-show="sort_order=='pay'&&sort_reverse==false"></i>
        <i class="glyphicon glyphicon-chevron-up" ng-show="sort_order=='pay'&&sort_reverse==true"></i>
        </a>
      </div>
      <div class="col-md-2 column-header" style="font-weight:bold;">
        <a ng-click="sort('email')">Email
        <i class="glyphicon glyphicon-chevron-down" ng-show="sort_order=='email'&&sort_reverse==false"></i>
        <i class="glyphicon glyphicon-chevron-up" ng-show="sort_order=='email'&&sort_reverse==true"></i>
        </a>
      </div>
      <div class="col-md-2 column-header">
        Action
      </div>
    </div>

    <div class="row person" ng-repeat="user in users track by user.id" style="padding-top:0.2em;padding-bottom:0.2em;" ng-class-even="'even'" ng-class-odd="'odd'" ng-click="rowOpen()">
      <div class="col-md-4 lead-name">
        <input type="checkbox" ng-model="user.selected" />
        <a>{{user.name}}</a>
      </div>
      <div class="col-md-2">
        {{user.klout}}
      </div>
      <div class="col-md-2">
        {{user.price|currency}}
      </div>
      <div class="col-md-2">
        {{user.email}}
      </div>
      <div class="col-md-2" style="text-align:left;">
        <button class="btn btn-default btn-xs">
          View Profile
        </button>
      </div>
    </div>
  </div>
</div>

