<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/custom.css">
    <!-- Testing CI -->
  </head>
<body ng-app="lwaAdminApp" ng-controller="TopCtrl">

    <div class="container">
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="images/lithium_purple.png" height="20" /></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{{tab=='overview'?'active':''}}"><a ng-href="#/">Overview</a></li>
            <li class="{{tab=='demand'?'active':''}}"><a ng-href="#/wants">Wants</a></li>
            <li><a href="#/">Endorsements</a></li>
            <li><a href="#/">Ratings</a></li>
            <li><a href="#/">
            <div style="width:1px;height:1px;position:relative;">
                <img src="images/olivia.png" height="35" style="position:absolute;top:-6px;left:-12px;">
            </div>
            &nbsp;Leslie Green</a></li>
            <li><a href="#/"><img src="images/gear_purple.png" height="20" style="float:left;"></a></li>
          </ul>
        </div>
      </div>
    </div>

<div class="row product-area">
<div class="col-md-3" style="margin-top:2em;">
<h4>Product Insights For</h4>
<div>
<select class="form-control">
<option>XBR-55X900A</option>
</select>
</div>
</div>
<div class="col-md-3" style="position:relative;">
<img src="http://store.sony.com/SNYNA_27/pimg/pSNYNA-XBR55X900A_main_v500.png" height="208" width="250">
<img src="images/85.png" style="position:absolute;top:130px;left:230px;">
</div>
<div class="col-md-6" style="margin-top:2em;">
<h4>55" Class (54.6" diag) XBR 4K Ultra HD TV</h4>
<p>Price: $2,999.99 MSRP: $4,999.99</p>
</div>
</div>
    	<div class="row content-area">
		    <div class="container" ng-view="">
		    </div>
    	</div>
    </div>




<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">
        {{user.name}}
          <span style="float:right"><img src="images/klout_lg.png"></span>
        </h3>
    </div>
    <div class="modal-body">
      <div class="container">

        <div class="row">
          <div class="col-md-1">
            <div style="position:relative;height:85px;width:85px;">
              <img src="images/peter_lg.png" height="80" width="80" style="position:absolute;top:0px;left:5px;">
              <img src="images/klout_bubble.png" style="position:absolute;top:45px;left:0px;">
              <span style="position:absolute;top:48px;left:7px;font-size:15px;color:white;">
                {{user.klout}}
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div style="font-weight:bold">{{user.name}}</div>
            <div>
            Change agent and nice guy. Currently dating @gwenstacy. (All opinions my own)
            </div>
            <div>
              <img src="images/shield.png" style="margin-right:0.5em;">
              <img src="images/shield.png" style="margin-right:0.5em;">
              <img src="images/shield.png" style="margin-right:0.5em;">
            </div>
          </div>
        </div>

        <div class="row" style="margin-top:0.5em;" ng-hide="perksMode">
          <div class="col-md-3">
            <div style="font-weight:bold;">
              <span style="color:#E67D69;">+K&apos;s</span>
              23
            </div>
            <div style="font-size:small;">
              Sell All
            </div>
            <div style="margin-top:0.5em;font-weight:bold;">
              <span style="color:#E67D69;">Wants</span>
              45
            </div>
            <div>
              Sony 55&quot; Class XBR...
            </div>
            <div>
              Leica T Camera
            </div>
            <div>
              Nike Free 3.0 2014
            </div>
            <div style="font-size:small;">
              See All
            </div>
          </div>
          <div class="col-md-3">
            <div style="font-weight:bold;">
              <span style="color:#E67D69;">Sony products owned</span>
              5
            </div>
            <div>
              Bravia 46&quot; 4K
            </div>
            <div>
              PS4
            </div>
            <div>
              PS3
            </div>
            <div style="font-size:small;">
              See All
            </div>
          </div>
        </div>

        <div class="row" style="margin-top:0.5em;" ng-show="perksMode">
          <div class="col-md-1" style="padding-top:2em;">
            <strong style="font-size:large;"><span style="color:#E67D69;">Perks</span> 2</strong>
          </div>

          <div class="col-md-2">
            <div style="text-align:center;border-radius:10px;vertical-align:middle;height:132px;width:125px;line-height:130px;border:1px solid #ccc;">
              <img src="images/headphones.png" />
            </div>
            <div>
              <input type="checkbox" style="float:left;height:20px;margin-right:5px;" checked>
              <div style="padding-top:5px;float:left;">MDR-HW300K<br/>Stereo Headphones</div>
            </div>
         </div>

          <div class="col-md-2">
            <div style="text-align:center;border-radius:10px;vertical-align:middle;height:132px;width:125px;line-height:130px;border:1px solid #ccc;">
              <img src="images/coins.png" />
            </div>
            <div>
              <input type="checkbox" style="float:left;height:20px;margin-right:5px;">
              <div style="padding-top:5px;">$15.00 off</div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="ok()">View Profile</button>
        <button class="btn btn-info" ng-click="sendPerk()" ng-hide="perksMode"><img src="images/klout.png"> Send Perk</button>
        <button class="btn btn-info" ng-show="perksMode"><img src="images/klout.png"> Perk Him</button>
    </div>
</script>



<script type="text/ng-template" id="offerDalog.html">
    <div class="modal-body">
      <div class="container coin-container">

        <div class="row">
          <div class="col-md-6" style="font-size:x-large;color:green;">
            Offers will be sent to
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div style="font-size:x-large;font-weight:bold;">{{count}} customers</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div style="height:7px;width:90%;position:relative;background-color:black;">
            <div style="height:7px;position:absolute;width:300px;background-color:#F83C98"></div>
            </div>
          </div>
        </div>

        <div class="row" style="font-size:large;margin-top:1em;">
          <div class="col-md-3" style="padding-top:0.5em;padding-bottom:0.5em;">
            who want to pay between
          </div>
          <div class="col-md-2" style="background-color:black;color:white;padding-top:0.5em;padding-bottom:0.5em;">
            {{low|currency}}-{{high|currency}}
          </div>
        </div>
        <div class="row" style="font-size:large;margin-top:1em;">
          <div class="col-md-3" style="padding-top:0.5em;padding-bottom:0.5em;">
            at a discount of
          </div>
          <div class="col-md-2" style="background-color:black;color:white;padding-top:0.5em;padding-bottom:0.5em;">
            {{discount|currency}}
          </div>
        </div>

        <div class="row" style="font-size:large;margin-top:1em;">
          <div class="col-md-5" style="font-size:large;font-weight:bold;">
            Total discount:
          </div>
        </div>
        <div class="row" style="font-size:xx-large;">
          <div class="col-md-5" style="font-weight:bold;">
            {{discount*count|currency}}
          </div>
        </div>

        <div class="row" style="margin-top:1em;">
          <div class="col-md-5" style="font-weight:bold;color:#663366;">
            Budget remaining:
          </div>
        </div>
        <div class="row" style="font-size:xx-large;">
          <div class="col-md-5" style="font-weight:bold;color:#663366;">
            $76,000
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer">
        <img src="images/klout_lg.png" style="float:left;">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-success" ng-click="cancel()">Send offers</button>
    </div>
</script>


    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/lodash.js"></script>
    <script src="javascripts/bootstrap.js"></script>
    <script src="javascripts/angular.js"></script>
    <script src="javascripts/angular-route.js"></script>
    <script src="javascripts/angular-animate.js"></script>
    <script src="javascripts/ui-bootstrap.js"></script>
    <script src="javascripts/ui-bootstrap-tpls.js"></script>
    <script src="javascripts/highcharts-ng.js"></script>
    <script src="javascripts/highcharts.js"></script>
    <script src="javascripts/chance.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/demand.js"></script>
    <script src="javascripts/home.js"></script>
</body>
</html>
