@font-face {
  font-family: 'Lithium Din';
  src: url("fonts/DINRoundOT-Light.otf");
  src: url("fonts/DINRoundOT-Black.otf");
  src: url("fonts/DINRoundOT-Bold.otf");
  src: url("fonts/DINRoundOT-Medium.otf");
}

.navbar {
	background-color: #352063;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #663399;
}

.navbar-inverse .navbar-nav > li > a
{
	color: #9B8FB3;
	min-width: 160px;
	text-align: center;
}

body {
	padding-top: 50px;
	background-color: #CECDF1;
}

.product-area {
	background-color: white;
}

.content-area {
	background-color: #DAD9F5;
}

.even {
	background-color: #E8E8E8;
}
.odd {
	background-color: #F5F5F5;
}

.well {
	border: 1px solid #BFB2CD;
	padding: 15px;
	background: #F2F2F2;
}

.interior-section {
	border-bottom: 1px solid #BFB2CD;
}

.highcharts-background {
	background-color: #F2F2F2;
	fill: #F2F2F2 !important;
}

.green-number {
	color: #00CF00;
	font-weight: normal;
}

.metric-numbers .col-md-4 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: normal;
	height: 20px;
}

td.metric-orange {
	padding-right: 1em;
}
.metric-orange {
	color: #EB7D65;
}

.region-title {
	text-transform: uppercase;
	font-family: Lithium Din;
	font-weight: bold;
}

.column-header {
	font-weight: bold;
	color: black;
}

.column-header a {
	font-weight: bold;
	color: black;
}

.lead-name a {
	padding-left: 0.5em;
	color: black;
}

.nav-tabs > li {
	background: none;
	border: none;
}

.nav-tabs > li.active {
	border: none;
}

.nav-tabs > li > a {
	border: none !important;
}

.nav-tabs > li.active > a {
	border-bottom: 6px solid blue !important;
}

.person {
	border-bottom: 1px solid #C4C4C4
}

.person.ng-enter,
.person.ng-leave {
  -webkit-transition:1s linear all;
  transition:1s linear all;
}

.person.ng-enter,
.person.ng-leave.ng-leave-active {
  opacity:0;
}
.person.ng-leave,
.person.ng-enter.ng-enter-active {
  opacity:1;
}

.coin-container {
	background-image: url('../images/coin-background.png');
	background-repeat: no-repeat;
	background-size: 162px 246px;
	background-position: 400px 70px;
}

.ng-hide {
  display:none!important;
}

@media (min-width: 1200px) {
  .container {
  max-width: 1170px;
}
